<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="navbar-header text-center">
            <span class="navbar-brand mb-0 h1 ml-5">
                <img src="/images/logo-1.jpg" alt width=128px>
            </span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="list-group justify-center list-group-flush mx-auto text-uppercase font-weight-bold text-danger">
                <li class="list-group-item pb-2 pt-2">Cấp cứu, khám bệnh, chăm sóc tại nhà</li>
                <li class="list-group-item pb-2 pt-2">bác sĩ, điều dưỡng, vật lý trị liệu tại nhà</li>
                <li class="list-group-item pb-2 pt-2">xe cứu thương 115 chuyển viện</li>
                <li class="list-group-item pb-2 pt-2">cho thuê: ôxy, máy thở, ...</li>
            </ul>
        </div><!-- /.nav-collapse -->
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="list-group list-group-flush text-uppercase font-weight-bold text-danger">
                <li class="list-group-item pb-2 pt-2 text-success"><i class="fas fa-phone-volume">:</i></i> 0901 690 115</li>
                <li class="list-group-item pb-2 pt-2 text-success"><i class="fas fa-phone-volume">:</i></i> 0326 790 790</li>
            </ul>
        </div><!-- /.nav-collapse -->
        <div class="navbar-header">
            <span class="navbar-brand mb-0 mr-5 h1">
                <img src="/images/logo-2.jpg" alt width="128px">
            </span>
        </div>
    </div><!-- /.container -->
</nav><!-- /.navbar -->