<div class="list-group ">
    <a href="/bac-si-dieu-duong-vat-ly-tri-lieu" class="list-group-item list-group-item-action list-group-item-danger <%if(title==='bac-si-dieu-duong-vat-ly-tri-lieu'){ %> active<%}%>">Bác sĩ, điều dưỡng, vật lý trị liệu</a>
    <a href="/xe-cuu-thuong" class="list-group-item list-group-item-action list-group-item-danger">Gọi xe cứu thương 115</a>
    <a href="/thue-oxy-may-tho" class="list-group-item list-group-item-action list-group-item-danger">Cho thuê: Ôxy, Máy thở, ...</a>
    <a href="/thu-vien-cong-tac" class="list-group-item list-group-item-action list-group-item-danger">Thư viện công tác</a>
    <a href="/lien-he-hoi-dap" class="list-group-item list-group-item-action list-group-item-danger">Liên hệ & giải đáp</a>
</div>